.feed_header{ display: flex; width: 100%; height: 220px; border-bottom: 1px solid #cfcfcf;}
.feed_header .feed_header_left{ width: 30%; min-width: 180px;}
.feed_header .feed_header_left img{ display: block; margin: auto auto;}
.feed_header div .btn{ border: none; width: 70px; height: 27px; font-weight: 400; color: #424242; background-color: #fdc2d7; border-radius: 7px; padding: 4px;}

.feed_header .feed_header_right .cont_nick{ display: flex; align-items: center;}
.feed_header .feed_header_right .cont_nick h2{ margin-right: 30px;}
.feed_header .feed_header_right .cont_inform div{ font-weight: 300;}

.feed_list{ flex-grow: 1;}

#cancel_subscription-modal .btn { border-radius: 5px; margin: 8px auto; padding: 12px 15px; border: none; background-color: #cfcfcf; width: 100%;}


/*----------------------------------[ 경욱*/
#feedContainer a span > img{width: 100%;}
.favDiv{display: flex; justify-content: space-between; align-items: center; margin: 0 20px;}
.favDiv > a{display: flex;}
.favDiv > a >img{width: 30px; border-radius: 50%   }
.favDiv > i{font-size: 30px; color: red;}
#feedContainer{display: grid; grid-template-columns: repeat(3, minmax(auto,auto)); gap: 30px 65px; margin-top: 80px;}
#feedContainer > div{box-shadow: 8px 8px 8px -4px #dfe6e9;}
#feedContainer a span{margin: 20px 20px; display: flex; flex-direction: column; justify-content: center;
    align-items: center;}
#feedContainer a span div.title{text-align: center; text-overflow: ellipsis; font-size: 16px;
}

@media screen and (max-width: 760px) {
    #feedContainer{display: grid; grid-template-columns: repeat(1, minmax(400px,auto)); }
    #feedContainer > div{margin: 0 auto}

}